
.navtext{
    font-family: 'Kings';
    font-size: 25px;
    gap: 10px;
}

.textTran{
    left: 100px;
}

.bglogo{
    left: 98px;
}
/*//////////////////////////////////////////////*/

.homePtext{
    font-family: 'Galada';
    @apply  align-middle text-center text-4xl
}

.HomeSub{
    font-family: Lancelot;
    left: 200px;
    @apply text-3xl
}
.HomeSub2{
    font-family: Lancelot;
    left: 205px;
    @apply text-3xl
}
.HomeSub3{
    font-family: Lancelot;
    left: 390px;
    @apply text-3xl
}

.homebtn{
    font-family: Lancelot;
    @apply w-[150px] h-[50px] text-3xl left-[580px] top-[470px] text-white
}

/*------------------------------------------------------------------------------------*/

.ShopTxt{
    font-family: 'Galada';
    @apply text-4xl absolute top-8 left-20 text-teal-600
}

.shopSub1{
    font-family: Lancelot;
    @apply text-2xl absolute left-[370px] top-20 text-teal-900
}

.shopSub2{
    font-family: Lancelot;
    @apply text-2xl absolute top-28 left-[470px] text-teal-900
}
.ShopCategoriesName{
    font-family: 'Galada';
}

/*----------------------------------------------------------------------------------------------------*/

.OffersTxt{
    font-family: 'Galada';
    @apply text-4xl absolute top-3 left-20 text-teal-600
}

.offersSub1{
    font-family: Lancelot;
    @apply text-2xl absolute left-[370px] top-12 text-teal-900
}

.offersSub2{
    font-family: Lancelot;
    @apply text-2xl absolute top-20 left-[680px] text-teal-900
}

.OfferText1{
    font-family: 'Galada';
    @apply text-lg
}

.OFT1{
    font-family: Lancelot;
    @apply text-lg
}

.OFT2{
    @apply font-medium text-sm
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
.LatestTxt{
    font-family: 'Galada';
    @apply text-4xl absolute top-3 left-20 text-teal-600
}

.LatestSub{
    font-family: Lancelot;
    @apply text-2xl absolute left-[80px] top-12 text-teal-900
}

.latestnametxt{
    font-family: 'Galada';
}